@charset "utf-8";

body {background-color:#e9e9e9; min-width:700px;}

.container {/*width:940px;*/}

.guide-wrap {width:98%; margin:0 auto; padding:20px 0}
#header {/**/}
#header h1 {font-size:25px}

.well {width:400px; margin:0 auto; min-height:20px; padding:19px; margin-bottom:20px; background-color:#f5f5f5; border:1px solid #e3e3e3; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow:inset 0px 1px 1px rgba(0,0,0,0.05)}

.info-wrap {padding:20px 0}
.info-wrap .info-table {padding:20px 0; border:solid 1px #ccc; border-width:1px 0
}
.info-wrap .info-count {padding:0 20px 0 0}

#container {/**/}
#contents{/**/}
.has-gap5 {padding:5px}
.has-gap15 {padding:15px}

#nav .nav-tabs > .active > a {background-color:#e9e9e9; font-weight:bold; color:#aa1111}
.page-list {/**/}
.page-list tr th,
.page-list tr td:nth-child(5),
.page-list tr td:nth-child(7) {text-align:center; font-weight:bold}

.page-list .btn-history {padding:5px 7px; margin-right:5px; font-size:10px; line-height:10px}

.page-list .btn-history:before {content:"View"}

.no-link {text-decoration:none;	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity:0.3; opacity:0.3; cursor:default}
.no-link:hover,
.no-link:active,
.no-link:focus {text-decoration:none}

.guide_h1{padding:10px 0; font-size:17px; color:#01529c}
.guide_h2{display:none; position:absolute !important; left:-9000px !important}
.guide_h3{padding:5px 10px; font-size:13px; font-weight:normal; color:#fff; background:#252525}

.guide_notice{padding:5px; border:1px solid #ededed}

.btn-top {position:fixed; right:0; bottom:20%; background:#666}
.btn-top a {display:block; width:60px; padding:5px 0; text-align:center; color:#fff; text-decoration:none}

.guide_tab{margin-bottom:10px}
.guide_tab ul{padding:10px; border:1px solid #01529c; overflow:hidden}
.guide_tab ul li{float:left; border-left:1px solid #01529c}
.guide_tab ul li:first-of-type{border:0}
.guide_tab ul li a{color:#252525; padding:5px 25px; }
.guide_tab ul li.on a{padding:4px 25px; color:#fff; background:#01529c}

.tbl-type1 {margin:7px 0 30px; border-top:2px solid #333; width:100%; font-size:12px}
.tbl-type1 th {background-color:#dddddd; font-weight:bold}
.tbl-type1 th, .tbl-type1 td {border:1px solid #aaaaaa; padding:6px 10px; vertical-align:middle}
.tbl-type1 thead th {padding:6px 5px}
.tbl-type1 thead th.header span {display:block ;padding-right:20px; background:url('../img/bg.gif') no-repeat 100% 50%; cursor:pointer}
.tbl-type1 thead th.header.headerSortDown span {background:url('../img/asc.gif') no-repeat 100% 50%}
.tbl-type1 thead th.header.headerSortUp span {background:url('../img/desc.gif') no-repeat 100% 50%}
.tbl-type1 tbody tr.even td {background:#f2f2f2}
.tbl-type1 tbody tr.line td {border-bottom:1px solid #333}

.guide_folder{}
.guide_folder ul{min-height:600px; padding:2% 0 2% 32%; background:url("../img/folder.png") no-repeat top left; background-size:30% auto}

.hid{display:none; position:absolute !important; left:-9000px !important}